@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


$family-sans-serif: 'Varela Round', sans-serif;

$control-border-width: 2px;

$input-shadow: none;
//$input-focus-box-shadow-size: 0em;

$message-background-color: white;
$success: #0B843E;


body {
  margin: 0 auto;
}

.underline {
  border-bottom: 1px solid;
}

.form {
  margin-top: 4em;
}

.message {
  height: 3em;
  border: 2px dashed;
  border-color: $success;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}

@import '../node_modules/bulma/bulma.sass';
@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";